:root{
    --body-color:#000a1d;
    --primary-color:black;
    --secondary-color:#7FEFBD;
    --third-color:#CBA135;
    --body-text: white;
    --theme: dark;
}
.Light_Mode{
    --body-color:#9fd3fd;
    --primary-color:white;
    --secondary-color:blue;
    --third-color:red;
    --body-text: black;
    --theme: light;
}
/* Changing App color based on Theme */
#switch_app_color{
    color-scheme: var(--theme);
    background-color: var(--body-color);
    color: var(--body-text);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
